<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Test</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="assets/js/temp.js"></script>
  <style type="text/css">
    span.finished { cursor: pointer; color: blue; text-decoration: underline; }
  </style>
</head>
<body ng-app="timing" ng-controller="MainCtrl">
<div class="row">
<div class="col-md-8 col-md-offset-2">
<p><a href="http://localhost:4201?ckzhhu2yz0053q8t66rm5dwl5">ADMIN</a></p>
<div class="page-header">
  <h1>Timing</h1>
</div>
  <h3>Current Time:</h3>
  <span ng-if="!!timings">{{timings[0].temp}} Farenheit</span>
  <form ng-submit="addTiming()" style = "margin-top:30px;">
    <input type="text" ng-model="number" placeholder="temp" autofocus></input>
    <input type="text" ng-model="name" placeholder="time"></input>
    <button type="submit" focus-input>take temperature</button>
  </form>
  <div ng-repeat="timing in timings track by $index">
    {{timing.temp}} F &middot;
    {{timing.time}}
  </div>
  <h3>Threshold Violations</h3>
  <div ng-repeat="timing in vios track by $index">
    {{timing.temp}} F &middot;
    {{timing.time}}
  </div>
</div>
</div>
</body>
</html>
