<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Test</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="assets/js/temp.js"></script>
  <style type="text/css">
    span.finished { cursor: pointer; color: blue; text-decoration: underline; }
  </style>
</head>
<body ng-app="timing" ng-controller="MainCtrl">
<div class="row">
<div class="col-md-8 col-md-offset-2">
  <p><a href="http://localhost:4200?ckzhhu2yz0053q8t66rm5dwl5">Normal View</a></p>
<div class="page-header">
  <h1>Admin Page</h1>
</div>
<h2>Current Values:</h2>
<div>
<p>Name: {{name1}}</p>
<p>Threshold: {{threshold1}}</p>
<p>Number: {{number1}}</p>
<p>Location: {{location1}}</p>
</div>
  <form ng-submit="updateVals()" style = "margin-top:30px;">
    <input type="text" ng-model="name" placeholder="name" autofocus></input>
    <input type="text" ng-model="location" placeholder="location"></input>
    <input type="text" ng-model="threshold" placeholder="threshold"></input>
    <input type="text" ng-model="number" placeholder="number"></input>
    <button type="submit" focus-input>update values</button>
  </form>
</div>
</div>
</body>
</html>
